	<div tabindex="-1" id="import-file-modal" class="modal fade in hide">
	    <div class="modal-header">
	        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
	        <h3>Import File</h3>
	    </div>
	    <div class="modal-body form form-horizontal modal-body-scrolling">
	        Import the contents of a CSV file into this lookup file.
	        
	        <input type="file" id="import-file-input" />
	        <button class="btn active btn-primary" id="choose-import-file">Select file to import</button>
	        
	        <div class="drag-and-drop-tip">
	        	<strong>Tip:</strong> You can drag and drop a CSV file onto the editor to import it directly
	        </div>
	        
	    </div>
	    <div class="modal-footer">
	        <a href="#" class="btn btn-dialog-cancel label_from_data" data-dismiss="modal" style="display: inline;">Close</a>
	    </div>
	</div>
	

<div class="top-controls">
	<div class="row-fluid">
		<div class="span6">
			<a class="list-link" href="lookup_list">
				<i class="icon-chevron-left icon-no-underline"></i>
				<span>Back to Lookups List</span>
			</a> 
		</div>
	</div>

	<% if(insufficient_permissions) { %>
	<div id="no-permissions-dialog" class="alert alert-warning hide">
		<i class="icon-alert"></i>
		You don't have permission to edit this lookup file
	</div>
	<% } else { %>
	
	<div class="row-fluid">
		<div class="span6">
	<% if(is_new) { %>
			
			<div class="top-label show-when-creating">
				<label class="control-label" for="lookup-name">Name:</label>
			</div>
			<div class="controls show-when-creating">
				<div class="input input-text" id="lookup-name"></div>
	        	<span class="hide help-inline"></span>
	        	<span class="help-block">Generally ends with ".csv"</span>
			</div>
			
			<div class="top-label show-when-creating">
				<label class="control-label" for="lookup-app">App:</label>
			</div>
			<div class="controls show-when-creating">
				<div class="input input-dropdown" id="lookup-app"></div>
	        	<span class="hide help-inline"></span>
	        	<span class="help-block">Specifies the app where the lookup file will reside</span>
			</div>
	<% } %>
			<div class="lookup-name lead <% if(is_new) { %>hide<% } %>" id="lookup-name-static"><%- lookup_name %></div>
		</div>
		<div class="span6">
			<div id="load-backup" class="btn-group create-content pull-right"></div>
			<button class="btn active btn-primary pull-right" id="import-file">Import</button>
		</div>
	</div>
	
	<div id="warning-dialog" class="alert alert-warning hide">
		<i class="icon-alert"></i>
		<div class="message">Warning!</div>
	</div>
	
	<div id="info-dialog" class="alert alert-info hide">
		<i class="icon-alert"></i>
		<div class="message">Ok!</div>
	</div>
</div>

<div id="lookup-table" class="editing-content"></div>

<button class="btn active btn-primary pull-right editing-content" id="save">Save Lookup</button>

<% } %>