@import url('/en-US/static/app/lookup_editor/css/lib/jquery.dataTables.css');
@import url('/en-US/static/app/lookup_editor/css/SplunkDataTables.css');

#lookup_list{
	margin-top: 32px;
	display: none;
	clear: both;
}

.warning_dialog{
	margin-top: 32px;
	display: none;
}

.SplunkModule.LookupFileLister > h1{
	margin-bottom: 16px;
}

#new_lookup{
	margin-bottom: 16px;
	z-index: 10; /* Necessary for the button to appear in front of the table in order to be clickable */
	position: relative;
}

.dataTables_wrapper#lookup_content_table_wrapper{
	top: -42px;
}
