@import url('/en-US/static/app/lookup_editor/css/lib/jquery.handsontable.full.css');

#dataTable{
	height: 400px;
	overflow: auto;
}

input[type=text]{
	display: block;
	clear:both;
}

#tableEditor{
	/* display:none; */
}


.no_permissions_dialog{
	
}

#lookup_file_namespace{
	height: 27px;
}

.SplunkModule.LookupFileEditor > h1{
	margin-bottom: 16px;
}

.warning_dialog{
	margin-top: 32px;
	display: none;
}

.padlock{
	background: url(/static/img/skins/default/managerIcons/icon_access.png) no-repeat 0px 0;
	display: inline;
	float: left;
	height: 36px;
	width: 40px;
}

.dialog_message{
	padding-top: 12px;
}

/**
 * Cell renderers
 */

#dataTable{
	clear:both;
}

#mainControls{
	margin-top: 24px;
}

.handsontable td.cellEmpty{
	background: #F8F8F8;
}

.handsontable td.cellEmptyHeader{
	/* Pattern from http://www.patternify.com/ */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAT0lEQVQYV2P8v3nmfwYc4HdPOlyGEZdCZEWsJTMZsCpEVwQyFkMhNkUYCnEpQlGITxFcISFFYIW/7BngwQPyHS4AV4hPEchGsEJCikC2AAAsFDi53F9I+QAAAABJRU5ErkJggg==);
	
}

.cellNegative{
	color: red;
}

.cellPositive{
	color: green;
}

.cellHeader{
	font-weight: bold;
	color: black;
}

.cellTrue{
	fontstyle: italic;
	color: green;
}

.cellFalse{
	fontstyle: italic;
	color: red;
}

#cancel{
	float: left;	
}

#save{
	float: right;	
}

.handsontable td.cellUrgencyUnknown{
	color: black;
	background-color: #c1d7f0;
}

.handsontable td.cellUrgencyInformational{
	color: black;
	background-color: #c1d7f0;
}

.handsontable td.cellUrgencyLow{
	color: black;
	background-color: #b5e25d;
}

.handsontable td.cellUrgencyMedium{
	color: black;
	background-color: #ffd70d;
}

.handsontable td.cellUrgencyHigh{
	color: black;
	background-color: #ff8700;
}

.handsontable td.cellUrgencyCritical{
	color: white;
	background-color: #bf1900;
}

.cellHREF{
	color: blue;
	text-decoration: underline;
}

#item-lookup-file{
	margin-bottom: 80px;
}