.dropdown-secondary > .dropdown-toggle{
	border-radius: 0px;
	border: 0px;
	background: transparent !important;
	box-shadow: inset 0 0 0 !important;
	color: #1e93c6;
}

.progress{
	width: 400px;
}

.type-filter, .app-filter, .scope-filter{
	margin-top: 8px;
	margin-left: 16px;
}

.type-filter > .dropdown-menu > li > a, .app-filter > .dropdown-menu > li > a{
   padding-left: 22px;
}

.dropdown-menu{
	background-color: white;
}

.icon-check.hide{
      display: none;
}

.dropdown-secondary > ul{
    max-height: 320px;
    overflow-y: scroll;
}

#content{ /* Make sure that the dropdowns have room even if there isn't much content */
	min-height: 360px;
}

.search-query{
	margin-top: 8px;
	margin-left: 16px;
}

.loading-placeholder{
	margin-left: 64px;
}

#new-content{
	margin-right: 16px;
}

#table_wrapper > .row-fluid:first-child{
	display: none;
}

#table_wrapper > .row-fluid {
    margin-top: 16px;
    margin-left: 16px;
}

#table_wrapper{
	clear: both; /* SOLNESS-7190 */
}

#table_paginate{
	float: right;
	margin-right: 32px
}

td{
	background-color: white;
}

/*
 * Fix highlight color on the dropdown button
 */
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #65a637;
}