table.dataTable tr.odd {
	background-color: white !important;
}

a.paginate_active {
	background-color: #99B3FF;
}

a.paginate_button:hover {
	background-color: white !important;
}

a.paginate_enabled_next{
	background-color: #F5F5F5;
}

a.paginate_button {
	background-color: white !important;
}

a.paginate_button {
	border: 0px !important;
	background-color: white !important;
	color: #3e83bd !important;
}

a.paginate_active {
	border: 0px !important;
	padding: 8px !important;
	background-color: #F5F5F5 !important;
}

a.paginate_button:hover, a.paginate_active:hover {
	background-color: #F5F5F5 !important;	
}

.paginate_button{
	padding: 8px !important;
}

.dataTables_paginate {
	height: 42px;
	line-height: 42px;
}

.first.paginate_button{
	display:none;
}

.last.paginate_button{
	display:none;
}

.next.paginate_button:after{
	content: "  \00BB";
}

.previous.paginate_button:before{
	content: "\00AB  " ;
}


table.dataTable td {
	padding: 5px 10px;
}